[submodule "examples/week9/googletest"]
	path = examples/week9/googletest
	url = https://github.com/google/googletest.git
[submodule "examples/week12/-b"]
	path = examples/week12/-b
	url = https://github.com/google/googletest.git
